html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {

  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;

  font-family: sans-serif;  
  font-size: 10pt;
  line-height: 1.5em;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*canvas {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -100;
}*/

#logo {
  position: fixed;
  left: 16px;
  bottom: 8px;
  z-index: 0;
  width: 96px;
  height: 36px;
  display: none;
  opacity: .25;
}

#elaspedTime {
  position: fixed;
  top: 1.5em; right: .5em;
  z-index: 100;
  font-size: .7em;
  color: white;
  display: none;
}

#meter {
  position: fixed;
  top: .5em; right: .5em; 
  width: 128px;
  height: .5em;
  background: rgba(255,255,255, .25);
  z-index: 100;
  display: none;
}

#meterBar {
  position: absolute;
  top: 0; left: 0;  
  width: 0;
  height: .5em;
  background: rgba(255,255,255, .75); 
}

#credits {
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;

  text-align: center;
  opacity: .2;  
}

#credits img{
  vertical-align: middle;  
}

#credits .spacer {
  width: 64px;
  max-width: 5%;
  display: inline-block;
}

#social {
  position: fixed;
  top: 16px;
  right: 16px; 
  opacity: .2;  
}

#social img {
  vertical-align: middle;
  margin-left: 4px;
}

#windows {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 48px;
  
  display: flex;
  align-items: center;
  justify-content: center; 

  pointer-events: none;
}

.window {
  text-align: center;
  padding: 16px;
  width: 100%;
  max-width: 640px;
  display: none;
  pointer-events: auto;
}

#welcomeButtons {
}

#welcomeButtonsVR {
  display: none;
}

#welcomeWindow.vr #welcomeButtons {
  display: none;
}

#welcomeWindow.vr #welcomeButtonsVR {
  display: initial;
}

#welcomeHeader {
  margin-top: 16px;
  margin-bottom: 24px;
}

.button {
  border: 1px solid white;
  background: rgba(0,0,0,.25);
  color: white;
  cursor: pointer;
  width: 112px;
  height: 36px;
  margin: 0 2px;
  font-size: .8em;
}

.button:active {
  background: rgba(255,255,255,.25);
}

.webvr-button {
  visibility: hidden;
}

@media (max-width: 720px) and (orientation: landscape) {
  .window {
    width: 80%;
  }
}

@media (max-width: 360px) and (orientation: portrait) {
  .window {
    width: 100%;
  }
  #credits {
    bottom: 12px;
  }
  #credits img{
    width: 80px;
    height: 40px;
  }
}

@media (max-height: 360px) and (orientation: landscape) {
  .window {
    width: 60%;
  }
  #credits {
    bottom: 12px;
  }
  #credits img{
    width: 80px;
    height: 40px;
  }
}
